form {
	display:		table;
	padding:		10px;
}


form textarea {
	width:			500px;
	height:			200px;
}

div.tableRow {
	display:		table-row;
}
div.tableRow p {
	display:		table-cell;
	vertical-align:	top;
	padding:		5px;
}

div.tableRow p:first-child {
	text-align:		right;
}

legend {
	color:			#2981d9;
}

fieldset {
	border:			thin solid #1b73cc;
}
